h1 {color: blue;}

a {text-decoration: none;}

a:hover {color: purple;}

body {background-color: rgba(233, 107, 191, 0.24); padding-left: 50px; padding-right: 50px;}

h2 {border-bottom: 1px solid;
    color: blue;}

#info {line-height: 1.5em;}

